on: workflow_dispatch

jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: -hello-world
        run: echo "Hello World!"
  list-job:
      runs-on: ubuntu-latest
      steps:
        - name: run-script-file
          run: pwd
